dist
node_modules
.idea/
*.log
*.tgz
*.xml

# Ignore generated JavaScript files.
*.js
!jest.config.js

# Ignore generated TypeScript definition files.
*.d.ts
!declarations/*.d.ts

# yarn
!.yarn/**/*
.yarn/unplugged
.yarn/build-state.yml
